# Ignorar todos os arquivos e diretórios por padrão
*

# Exceto os diretórios específicos e seus conteúdos
!public/imagens_produtos/
!public/imagens_produtos/**

!public/imagens_usuarios/
!public/imagens_usuarios/**

# Não ignorar o diretório public e seus conteúdos
!public/
!public/**/
!.gitignore

# Ignorar o link simbólico public/storage
public/storage
